
<body>

<form>
 
<div class="header">
  <h2>Blog </h2>
</div>
  

 
<!-- <div class="row">
  <div class="leftcolumn"> -->
    <div class="card">
      
      <label for="title">Title</label>
  <input type="text" class="form-control" id="title" placeholder="enter title"
  name="title">
      <!-- <h2>TITLE HEADING</h2>
      <h5>Title description, 17/7/2018</h5> -->
    </div><br>
   
      <div class="form-group">
  <label for="body">Body</label>
  <input type="text" class="form-control" id="body" placeholder="enter content"
  name="body">
</div><br> 
</form>
</table>
    <button type="submit" class="btn btn-primary">submit</button>

</body>